.page-goals {
    
    
}

.events-wrapper {
left:0;
    
}


.shown {
    display:none;
}



.progress {
   position:relative; 
}
.start {
    position:absolute;
    top:3px;
    left:10px;
    color:#aeaeaf;
}

.end {
    position:absolute;
    top:3px;
    right:10px;
    color:#aeaeaf;
}

.complete {
    .start {
        color:white;
    }
    .end {
        color:white;
    }
}



a.btn.btn-basic.add-group {
    right:200px;
}